{{#if (not expanded)}}
  <div class="post-compose-header" onclick={{action "expand"}}>
    share something...
  </div>
{{else}}
  {{#click-outside
    action=(action "collapse")
    except-selector=".post-compose"}}
    {{input
      class="post-compose-link"
      placeholder="url"
      value=link}}
    {{textarea
      class="post-compose-text"
      placeholder="caption..."
      value=text
      autoresize=true
      rows=2
      max-rows=15}}
    <button type="button" onclick={{action "create"}}>post</button>
  {{/click-outside}}
{{/if}}
