{{#if owner}}
<div class="post-header">
  <a href="#" onclick={{action "delete_post" post}}>
    delete
  </a>
  <a href="#" onclick={{action (mut editing) true}}>
    edit
  </a>
</div>
{{/if}}
<div class="post-subject">
  {{#if post.linkFormatted}}
    {{html-safe post.linkFormatted}}
  {{else}}
    <a href={{post.link}}>{{post.link}}</a>
  {{/if}}
</div>
<div class="post-user">
  <img class="post-user-avatar" src="https://media.kitsu.io/users/avatars/78332/small.jpg" />
  <div class="post-user-info">
    <div class="post-user-name">
      {{users/user-name user=post.user}}
    </div>
    {{moment-from-now post.createdAt interval=60000 class="timestamp"}}
  </div>
</div>
{{#if (not editing)}}
  {{#if post.text}}
    <div class="post-text">{{post.text}}</div>
  {{/if}}
  {{comments/comments-list post=post}}
{{else}}
  {{posts/post-edit post=post editing=editing}}
{{/if}}
