<div class="signin">
  <form {{action "create" on="submit"}}>
    {{input
      value=model.name
      placeholder="Channel name"
      class="form-control"
      focus-out=(action (mut showNameError) true)
    }}
    <br>
    {{#if showNameError}}
      <div class="error">
        {{v-get model 'name' 'message'}}
      </div>
    {{/if}}
    <button type="submit" disabled={{v-get model 'isInvalid'}}>Create</button>
  </form>
</div>
{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
{{outlet}}
