<form {{action "create" on="submit"}}>
  <div class="modal-body">
    {{input
      value=model.name
      placeholder="Channel name"
      class="form-control"
      focus-out=(action (mut showNameError) true)
    }}
    <br>
    {{#if showNameError}}
      <div class="error">
        {{v-get model "name" "message"}}
      </div>
    {{/if}}
  </div>
  <div class="modal-footer">
    <button type="submit" disabled={{v-get model "isInvalid"}}>Create</button>
  </div>
</form>
{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
{{outlet}}
