{{input
  type=type
  value=value
  placeholder=placeholder
  name=valuePath
}}

<span class="tooltip-container">
  {{#if (and showValidations (or error warning isValid))}}
    <i class="material-icons input-info-icon {{name}}">
      {{#if error}}error
      {{else if warning}}warning
      {{else if isValid}}check_circle
      {{/if}}
    </i>
    {{#if (or error warning)}}
      <div class="tooltip">
        {{#if error}}
          <span class="error">{{error}}</span>
        {{else if warning}}
          <span class="warning">{{warning}}</span>
        {{/if}}
      </div>
    {{/if}}
  {{/if}}
</span>