<nav class="navbar">
  {{#link-to "channels.all"}}
    <div class="logo">
      bump
    </div>
  {{/link-to}}
  {{#if session.isAuthenticated}}
    <a href="#" class="signin-link" {{action 'logout'}}>
      logout
    </a>
    <a href={{href-to "discover"}} class="signin-link">
      discover
    </a>
  {{else}}
    <a href={{href-to "register"}} class="signin-link">
      register
    </a>
    {{!-- <a href="#" class="signin-link" {{action (mut
    authModalOpened) true}}> --}}
    <a href={{href-to "signin"}} class="signin-link">
      login
    </a>
  {{/if}}
</nav>
<div class="app-container">
  {{outlet}}
</div>
{{from-elsewhere name="modal"}}
