<nav class="navbar">
  <a href={{href-to "dashboard.all"}} class="logo">bump</a>
  <div class="navbar-right">
    {{#if session.isAuthenticated}}
      {{#if session.account.id}}
        <a href={{href-to "users" session.account.id}}>profile</a>
      {{/if}}
      <a href="#" {{action "logout"}}>logout</a>
      <a href={{href-to "channels"}}>discover</a>
      <a href={{href-to "search"}}>find friends</a>
    {{else}}
      <a href={{href-to "sign-up"}} class="signin-link">sign up</a>
      <a href="#" class="signin-link" {{action (mut authModalOpened) true}}>sign in</a>
    {{/if}}
  </div>
</nav>

{{#if authModalOpened}}
  {{to-elsewhere named="modal"
    send=(component "ui/modal-dialog" componentName="application/sign-in"
          onClose=(toggle-action "authModalOpened" this))
  }}
{{/if}}

<div class="app-container">
  {{outlet}}
</div>

{{from-elsewhere name="modal"}}

{{#ember-notify closeAfter=5000 as |message|}}
  <i class="material-icons">
    {{#if (eq message.type "success")}}check_circle
    {{else}}{{message.type}}
    {{/if}}
  </i>
  {{message.text}}
{{/ember-notify}}
