<nav class="navbar">
  {{#link-to "dashboard"}}
    <div class="logo">
      bump
    </div>
  {{/link-to}}
  {{#if session.isAuthenticated}}
    <a href="#" class="signin-link" {{action 'logout'}}>
      logout
    </a>
    {{#if session.hasUser}}
        <a href={{href-to "users" session.account.id}} class="signin-link">
          account
        </a>
    {{/if}}
    <a href={{href-to "search"}} class="signin-link">
      search
    </a>
    <a href={{href-to "channels"}} class="signin-link">
      discover
    </a>
  {{else}}
    <a href={{href-to "sign-up"}} class="signin-link">
      sign up
    </a>
    {{!-- <a href="#" class="signin-link" {{action (mut
    authModalOpened) true}}> --}}
    <a href={{href-to "sign-in"}} class="signin-link">
      sign in
    </a>
  {{/if}}
</nav>
<div class="app-container">
  {{outlet}}
</div>
{{from-elsewhere name="modal"}}
