<form class="sign-up-form" {{action "register" on="submit"}}>
{{!--   {{ui/info-input
    value=model.first_name
    placeholder="first name"

    error=(v-get model "first_name" "error.message")
    warning=(v-get model "first_name" "warningMessage")
    success=(v-get model "first_name" "isValid")
  }}

  {{ui/info-input
    value=model.last_name
    placeholder="last name"

    error=(v-get model "last_name" "error.message")
    warning=(v-get model "last_name" "warningMessage")
    success=(v-get model "last_name" "isValid")
  }}

  {{ui/info-input
    value=model.email
    placeholder="email"

    error=(v-get model "email" "error.message")
    warning=(v-get model "email" "warningMessage")
    success=(v-get model "email" "isValid")
  }}

  {{ui/info-input
    value=model.password
    placeholder="password"
    type="password"

    error=(v-get model "password" "error.message")
    warning=(v-get model "password" "warningMessage")
    success=(v-get model "password" "isValid")
  }}

  {{ui/info-input
    value=model.confirm_password
    placeholder="confirm password"
    type="password"

    error=(v-get model "confirm_password" "error.message")
    warning=(v-get model "confirm_password" "warningMessage")
    success=(v-get model "confirm_password" "isValid")
  }} --}}

  {{ui/validated-input
    value=model.first_name
    placeholder="first name"
    model=model
    valuePath="first_name"
  }}

  {{ui/validated-input
    value=model.last_name
    placeholder="last name"
    model=model
    valuePath="last_name"
  }}

  {{ui/validated-input
    value=model.email
    placeholder="email"
    model=model
    valuePath="email"
  }}

  {{ui/validated-input
    value=model.password
    placeholder="password"
    type="password"
    model=model
    valuePath="password"
  }}

  {{ui/validated-input
    value=model.confirm_password
    placeholder="confirm password"
    type="password"
    model=model
    valuePath="confirm_password"
  }}

  <button type="submit" disabled={{v-get model "isInvalid"}}>sign up</button>
</form>
