<div>
  {{#with model.user as |user|}}
    Name: {{user.first_name}} {{user.last_name}}
    <br>
    Email: {{user.email}}
    <br>
    <br>
    Friends:
    {{#each user.confirmed_friends as |friend|}}
      Name: {{friend.first_name}}
      <br>
    {{/each}}
    <br>
    <br>
    sent_Friends:
    {{#each user.sent_friends as |friend|}}
      Name: {{friend.first_name}}
      <br>
    {{/each}}
    <br>
    <br>
    inverse Friends:
    {{#each user.inverse_friends as |friend|}}
      Name: {{friend.first_name}}
      <br>
    {{/each}}
    <br>
    <br>
    friend Friends:
    {{#each user.friends as |friend|}}
      Name: {{friend.first_name}}
      <br>
    {{/each}}
  {{/with}}
  <br>
  <br>
  all Friends:
  {{#each model.all_friends as |friend|}}
    Name: {{friend.first_name}}
    <br>
  {{/each}}
</div>
