{{#with model as |user|}}
  <div>
    Name: {{user.first_name}} {{user.last_name}}
    <br>
    Email: {{user.email}}
    <br>
    <br>
    Friends:
    {{#each user.confirmed_friends as |friend|}}
      Name: {{friend.first_name}}
      <br>
    {{/each}}
    <br>
    <br>
    Friendships:
    {{#each user.friendships as |friendship|}}
        {{friendships/friendship-entry friendship=friendship}}
    {{/each}}
  </div>
{{/with}}
