{{#with model as |user|}}
<div class="signin">
  Name: {{user.first_name}} {{user.last_name}}
  <br>
  Email: {{user.email}}
  <br>
  <a href={{href-to "users.friends" user.id}}>friends</a>
    <div>
        <br>
        Channels:
        <br>
        {{#each user.subscriptions as |subscription|}}
            <a href="#">{{subscription.channel.name}}</a>
            <br>
        {{/each}}
    </div>

    <div>
        <br>
        <br>
        Posts:
        <br>
        {{#each user.posts as |post|}}
          {{post-view post=post}}
        {{/each}}
    </div>
</div>
{{/with}}
{{outlet}}
